# Qdrant
QDRANT_URL=qdrant_url
QDRANT_API_KEY=Qdrant_key
QDRANT_COLLECTION=panaversity_book_v1



GEMINI_API_KEY=gemini_api_key
# CLAUDE_API_KEY=...

# Neon Postgres (connection string)
DATABASE_URL=Neon_postgreesql_url


# Authentication
BETTER_AUTH_SECRET=better_auth_secret_key

# API Settings
API_PORT=8000
API_HOST=127.0.0.1
DEBUG=true


